name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get upgrade -y
          sudo apt-get install -y --no-install-recommends \
            build-essential \
            openssl \
            libssl-dev \
            ca-certificates \
            libgstrtspserver-1.0-dev \
            libgstreamer1.0-dev \
            libgtk2.0-dev \
            protobuf-compiler \
            libglib2.0-dev
          sudo apt-get clean
          sudo rm -rf /var/lib/apt/lists/*

      - name: Build
        run: cargo build --verbose

      - name: Run tests
        run: cargo test --verbose
